/* font-family: "Open Sans", sans-serif;
font-optical-sizing: auto;
font-weight: <weight>;
font-style: normal;
font-variation-settings:
  "wdth" 100;*/
*{
    padding: 0;
    margin: 0;
    font-family: "open sans",system-ui;
    font-size: large;

}
nav{
    display:flex;
    justify-content: space-between;
    height: 16vh;
    padding:0 3rem;
    align-items:center;
    
}
nav div, nav div ul{
    display: flex;
    align-items: center;
    gap: 2rem;
}
li{
    list-style-type: none;
}
a{
    text-decoration: none;
}
.hamburg{
display: none;
}

.list{
    display:none;
}
.showlist{
    display: flex;
    flex-direction: column;
    gap: 2rem ,0;
}
@media (max-width:911px){
    .list{
        display:none;
    }
    nav div ul{
        display:none;
    }
    .hamburg{
        display: block;
    }
    
}
/* home page*/
main{
    height: calc(100vh - 40vh);
    padding: 0 3rem;
    display: flex;
    
    align-items: center;
}
main div{
    flex: 1;
}


.item{
    margin: 1rem 0; 
}

.shopNowBtn{
    padding: .7rem 2rem;
    background-color: #8BC34A;
    color: white;
    border: none;
    border-radius: 5px;
    font-weight: bold;
}

.heading{
    font-size: 3rem;
}

.paragraph{
    opacity: 80;
}
@media(max-width: 1200px){
    main{
        flex-direction: column;
    }
    }
    @media
        
    }
}